.footer-container {
    
    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        .first {
            .logo {
                align-items: center;
                margin-bottom: 3rem;
                .f {
                    background-color: var(--clr-primary);
                    width: 34px;
                    height: 41px;
                    border-radius: 6px;
                }
                img {
                   height: 22px;
                   margin-left: 5px;
                }
            }
            .text-small {
                font-size: 24px;
               
                
            }
        }
        ul {
            h4 {
                font-size: 26px;
            }
            li {
                margin-top: 35px;
                font-size: 24px;
            }
        }


    }

    .bottom-footer {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 29% 71%;
        align-items: center;
        .group-contact {
            justify-content: left;
            gap: 2rem;
           
            .contact  {
                width: 57px;
                height: 57px;
                background-color: var(--clr-secondary);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: var(--transition);
                cursor: pointer;
                .icon {
                    font-size: 1.5rem;
                    transition: var(--transition);
                }
                &:hover {
                    background-color: var(--clr-primary);
                }
                &:hover .icon {
                    color: var(--clr-white);
                }
            }
        }
        .copy-right {
            flex: 2;
        }
    }
}